<style type="text/css">
body {
    background-color: #F9F4EF;
}

div {
    background-color: #DBC9AD;
    border-radius: 10px;
}

h1 {
    color: #516460;
    font-size: 50px;
    font-family: 'Charmonman', cursive;
    text-shadow: 2px 1px 2px #354642;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: saddlebrown;
    font-family: 'Charmonman', cursive;
}

table {
    border-collapse: separate;
    border-spacing: 70px 11px;
}

th {
    font-weight: normal;
    padding: 8px 2px;
    font-family: 'Charmonman', cursive;
    font-size: 20px;
}

td {
    padding: 12px 2px;
}

.base {
    width: 500px;
    padding: 10px;
    background-color: cornsilk;
    text-align: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}
.inp .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098A9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all .2s ease;
}
.inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    //background: black;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .15s ease;
}

.inp input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #354642;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all .15s ease;
}

.inp input:hover {
    background: rgba(34, 50, 84, 0.03);
}

.inp input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus {
    background: none;
    outline: none;
}

.inp input:focus + span {
    color: black;
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus + span + .border {
    transform: scaleX(1);
}

.link {
    font-size: small;
}

</style >